@use "../../sass/variables" as var;
.Hero {
  .slick-slider {
    position: relative;
    #hero-prev-arrow {
      position: absolute;
      left: 20px;
      z-index: 100;
      background-color: transparent;
      &::before {
        content: url("../../assets/images/hero-back-arrow.svg");
        opacity: 1;
        transition: 0.3s;
      }
      @media (max-width: 1300px) {
        top: 83%;
        left: 40px;
      }
    }
    #hero-next-arrow {
      position: absolute;
      z-index: 100;
      right: 40px;
      background-color: transparent;
      &::before {
        content: url("../../assets/images/hero-next-arrow.svg");
        opacity: 1;
        transition: 0.3s;
      }
      @media (max-width: 1300px) {
        top: 83%;
        right: 60px;
      }
    }
    .slick-dots {
      width: auto;
      bottom: 70px;
      left: 157px;
      @media (max-width: 800px) {
        width: 100%;
        left: 0;
        bottom: 40px;
      }
      li {
        button {
          &::before {
            content: "";
          }
          width: 10px;
          height: 10px;
          border-radius: 10px;
          border: 1px solid var.$primary;
          transition: 0.3s;
          &:hover {
            background-color: var.$primary;
          }
        }
      }
      .slick-active {
        button {
          background-color: var.$primary;
        }
      }
    }
  }
}
