@use "../../sass/variables" as var;
.react-tabs {
  margin-bottom: 100px;
  .react-tabs__tab-list {
    padding: 16px 0;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    gap: 25px;
    li {
      outline: none;
      cursor: pointer;
      padding: 12px 22px;
      border-radius: 61px;
      border: 1px solid var(--color-border, rgba(0, 16, 61, 0.12));
      color: var.$primary;
      text-align: center;
      /* fontFootnote */
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 13px; /* 100% */
      transition: 0.4s;
      &:hover {
        background-color: var.$primary;
        color: white;
      }
    }
    .react-tabs__tab--selected {
      background-color: var.$primary;
      color: white;
    }
  }
  .react-tabs__tab-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    img {
      border-radius: 5px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        box-shadow: #ef7b0031 0px 50px 100px -20px, #ef7b00 0px 30px 60px -30px;
        transform: scale(1.1);
      }
    }
    @media (max-width: 1280px) {
      img {
        width: 175px;
      }
    }
    @media (max-width: 1030px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 50px;
    }
  }
  @media(max-width: 768px) {
    .react-tabs__tab-list {
      li {
        padding: 10px;

      }
    }
    .react-tabs__tab-panel {
      img {
        width: 150px;
      }
      gap: 20px;
      justify-content: space-evenly;
    }
  }
  @media(max-width: 600px) {
    .react-tabs__tab-list {
      gap: 15px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .react-tabs__tab-panel {
      gap: 35px;
      
    }
    margin-bottom: 50px;
  }
}
