.footer_social_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* for all social containers*/
  .socialContainer {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgb(255, 167, 91);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.5s;
    .socialSvg {
      width: 20px;
      path {
        fill: rgb(255, 255, 255);
      }
    }
    &:active {
      transform: scale(0.9);
      transition-duration: 0.5s;
    }
    &:hover .socialSvg {
      animation: slide-in-top 0.5s both;
    }
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #0084ff;
    transition-duration: 0.5s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.5s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.5s;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
